.review-item{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}
.btn-posi{
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;

}