.review-item{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}
.btn-posi{
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media only screen and (max-width:480px) {
  .review-item{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 30px;

}
  
}
@media only screen and (min-width:480px) and (max-width:980px){
  .review-item{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;

}
  
}